body{
	background-color:#0d4261; 
}
h3{
	color: black;
	margin-top: 5px;

}
img {
	width :15%;
	height:15%;
}

ol,ul{
	font-size: 14pt;
	color:white;
}

a{
	text-decoration: none;
	color : orange;
	font:sans-serif;
	font-weight:bold;
}
#happy{
	float: left;
	padding-right: 15px;

}
h1,h2{
	text-align:center;
	color:white;
	font-family: sans-serif;
	font-weight: bold;
	font-style: italic;
}


#ht {
	float: left;
	width:150px;
}
